@model Domain.Relationship

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Relationship</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="RelationshipName" class="control-label"></label>
                <input asp-for="RelationshipName" class="form-control" />
                <span asp-validation-for="RelationshipName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RelationShipDetails" class="control-label"></label>
                <input asp-for="RelationShipDetails" class="form-control" />
                <span asp-validation-for="RelationShipDetails" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateTimeFrom" class="control-label"></label>
                <input asp-for="DateTimeFrom" class="form-control" />
                <span asp-validation-for="DateTimeFrom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateTimeTo" class="control-label"></label>
                <input asp-for="DateTimeTo" class="form-control" />
                <span asp-validation-for="DateTimeTo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PersonOneId" class="control-label"></label>
                <select asp-for="PersonOneId" class="form-control" asp-items="ViewBag.PersonOneId"></select>
                <span asp-validation-for="PersonOneId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PersonTwoId" class="control-label"></label>
                <select asp-for="PersonTwoId" class="form-control" asp-items="ViewBag.PersonTwoId"></select>
                <span asp-validation-for="PersonTwoId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RoleOneId" class="control-label"></label>
                <select asp-for="RoleOneId" class="form-control" asp-items="ViewBag.RoleOneId"></select>
                <span asp-validation-for="RoleOneId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RoleTwoId" class="control-label"></label>
                <select asp-for="RoleTwoId" class="form-control" asp-items="ViewBag.RoleTwoId"></select>
                <span asp-validation-for="RoleTwoId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RelationshipTypeId" class="control-label"></label>
                <select asp-for="RelationshipTypeId" class="form-control" asp-items="ViewBag.RelationshipTypeId"></select>
                <span asp-validation-for="RelationshipTypeId" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="CreatedBy" class="control-label"></label>
                <input asp-for="CreatedBy" class="form-control" />
                <span asp-validation-for="CreatedBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreatedAt" class="control-label"></label>
                <input asp-for="CreatedAt" class="form-control" />
                <span asp-validation-for="CreatedAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ChangedBy" class="control-label"></label>
                <input asp-for="ChangedBy" class="form-control" />
                <span asp-validation-for="ChangedBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ChangedAt" class="control-label"></label>
                <input asp-for="ChangedAt" class="form-control" />
                <span asp-validation-for="ChangedAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
