@page
@model WebApp.Pages.Relationships.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Relationship</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Relationship.DateTimeFrom" class="control-label"></label>
                <input asp-for="Relationship.DateTimeFrom" class="form-control" />
                <span asp-validation-for="Relationship.DateTimeFrom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Relationship.DateTimeTo" class="control-label"></label>
                <input asp-for="Relationship.DateTimeTo" class="form-control" />
                <span asp-validation-for="Relationship.DateTimeTo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Relationship.RelationShipDetails" class="control-label"></label>
                <input asp-for="Relationship.RelationShipDetails" class="form-control" />
                <span asp-validation-for="Relationship.RelationShipDetails" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Relationship.FamilyId" class="control-label"></label>
                <select asp-for="Relationship.FamilyId" class="form-control" asp-items="ViewBag.FamilyId"></select>
                <span asp-validation-for="Relationship.FamilyId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Relationship.PersonOneId" class="control-label"></label>
                <select asp-for="Relationship.PersonOneId" class="form-control" asp-items="ViewBag.PersonOneId"></select>
                <span asp-validation-for="Relationship.PersonOneId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Relationship.PersonTwoId" class="control-label"></label>
                <select asp-for="Relationship.PersonTwoId" class="form-control" asp-items="ViewBag.PersonTwoId"></select>
                <span asp-validation-for="Relationship.PersonTwoId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Relationship.RoleOneId" class="control-label"></label>
                <select asp-for="Relationship.RoleOneId" class="form-control" asp-items="ViewBag.RoleOneId"></select>
                <span asp-validation-for="Relationship.RoleOneId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Relationship.RoleTwoId" class="control-label"></label>
                <select asp-for="Relationship.RoleTwoId" class="form-control" asp-items="ViewBag.RoleTwoId"></select>
                <span asp-validation-for="Relationship.RoleTwoId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Relationship.RelationshipTypeId" class="control-label"></label>
                <select asp-for="Relationship.RelationshipTypeId" class="form-control" asp-items="ViewBag.RelationshipTypeId"></select>
                <span asp-validation-for="Relationship.RelationshipTypeId" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Relationship.Id" />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
